*{
    font-family: fantasy;
}
/* This is a comment */

/* HTML TAGS*/
h1{
    font-size: 32px;
}

button{
    width: 200px;
    margin: 20px;
    font-size: 32px;
}

button:hover{
    cursor: pointer;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas{
    border: 3px solid black;
    border-radius: 10px;
}

/* ID List */
#startMenu{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    margin: auto;
    background-color: white;
}

#canvasHolder{
  grid-template-areas: ;
}
/* Class List */
.flex{
    display: flex;
}

.hidden {
    display: none;
}
